<div class="card">
    <div class="card-header">
        <h4><a class="link" href="/api/invitation/{{id}}">{{Title}}</a></h4>
        <h6 class="display-date"><strong>Event Date: </strong> {{format_date startdate}},<strong> Time: </strong> {{format_time startdate}} TO  {{format_time enddate}} </strong></h6>
        <h6 class="display-date">Hosted By: {{firstname}} {{lastname}}</h6>
    </div>
</div>