<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#potluckModal">
  View POTLUCK 
</button>

<div class="modal fade" id="potluckModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"> VIEW Potluck items </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         
<table id="table-potluck" style="width:100%"> 
        <thead>
            <tr>
                <th>Item  </th>
                <th>description </th>
                <th>Quantity </th>
                <th>User </th>
            </tr>
        </thead>
        <tbody>
            {{#each potlucks as |potluck|}}
                <tr>
               
                <td>
                    {{potluck.name}}
                </td>
                <td>
                    {{potluck.description}}
                </td>
                 <td>
                    {{potluck.headcount}}
                </td>
                <td colspan="2">
                  {{potluck.user.firstname}} {{potluck.user.lastname}}
                </td>
            </tr>
            {{/each}}
        </tbody>
</table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

