<div class="card">
    <form class="form-horizontal edit-event">

    <h3 class="card-header">Edit Event </h3>
      <div class="row">
        <div class="col-sm-6">
          <button class="button" type="submit" id="deleteEvent">Delete </button>
        </div>
        <div class="col-sm-6">
          {{#if events.potlucks}}
            {{> ViewPotluck potlucks=events.potlucks}}
          {{/if}} 
          {{#if events.gifts}}
            {{> ViewGiftRegistry gifts=events.gifts}}
          {{/if}}
          {{#if events.guests}}
            {{> ViewGuestList guests=events.guests}}
          {{/if}}
        </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
         <div class="form-group">
      <label class="control-label col-sm-2" for="title">Event Title</label>
      <div class="col-sm-10">
        <input name="Event Title" class="form-control" value= "{{events.title}}"  id="event-title" minlength="6" required="required" disabled/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="email" minlength="6"  required="required"minlength="6"  required="required" >Event Description: </label>
      <div class="col-sm-10">
        <textarea placeholder="enter description" id="event-description"  minlength="6" required="required" rows="4" cols="50" disabled> {{events.description}} </textarea>
      </div>
    </div>
      <div class="form-group">
      <label class="control-label col-sm-2" for="email">Date </label>
          <div class="col-sm-10">
            <p> 
              <span class="startdate"> {{format_date events.startdate}} </span>
               <span class="starttime">  Time: {{format_time events.startdate}} </span>
              <span class="endtime">{{format_time events.enddate}}</span>
            </p>
      </div>
      </div>
      {{#if events.virtuallink}}
      <div class="form-group">
      <label class="control-label col-sm-2 text-center" for="virtual" > Make this a Virtual Event (Recommended) </label>
      <div class="col-sm-10">
        <input type="checkbox" name="virtual" checked id="makeitVirtual" disabled="true">
        <input type="text" name="virtual-link" id="virtualLinkEL" value="{{events.virtuallink}}" placeholder="Enter your Video chat link">
      </div>
    </div>
    {{else }}
    <div id="address">
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Street Address</label>
      <div class="col-sm-10">
        <input name="Event Title" class="form-control" id="event-address" value='{{events.address}}' />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Apt/Building No</label>
      <div class="col-sm-10">
        <input name="Event Title" class="form-control" id="event-title222" />
      </div>
    </div>
     <div class="form-group">
      <label class="control-label col-sm-2" for="email">City</label>
      <div class="col-sm-10">
        <input name="Event Title" class="form-control" id="event-city" value='{{events.city}}' />
      </div>
    </div>
    
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">State</label>
      <div class="col-sm-10">
        <input name="Event Title" class="form-control" id="event-state" value="{{events.state}}"/>
      </div>
    </div>
    </div>
    {{/if}}
      </div>
      <div class="col-sm-4">
              <iframe src='https://www.google.com/maps?q="{{events.city}}"&output=embed'></iframe>
      </div>
    </div>
     
    </form>
</div>

<div class="card">
    <div class="card-header">
        <h5 class="card-title"> Comments</h5>
    </div>
    <div class="card-body">
        <form class="comment-form">
            Add Your Comment 
            <textarea rows="5" cols="10" class="form-control comment-text" name="comment" minlength="6" required="required"> </textarea>
            <button class="button" type="submit" id="add-comment"> Submit </button>
        </form>
        </div>
</div>


{{> comments comments=events.comments}}
{{> modal}}
<script type="text/javascript" src="https://code.jquery.com/jquery.min.js"></script>
<script src="/js/edit-event.js" type="text/javascript" ></script>
